{% extends 'main.html' %}

{% block content %}

<p class="title is-2">Privacy Policy</p>
<hr>
<h4>What genshinnuke.com collects</h4>
<ul>The visitor's URLs, referrers, browser, operating system, device type and country on genshinnuke.com</ul>
<ul>genshinnuke.com collects users hashed password, their username, their email for the account system</ul>
<ul>genshinnuke.com uses Google Analytics to track how many people use each feature, so it can prioritize which features to add or improve</ul>
<hr>
<h4>What genshinnuke.com don't collects</h4>
<ul>genshinnuke.com will never save passwords in clear text</ul>
<hr>
<h4>Open Source</h4>
<ul>If you are interested in knowing more the project is Open Source at https://github.com/jsthope/GenshinNuke</ul>
{% endblock content %}
